<div class="flex gap-x-2">
  <h1 class="mb-5 text-4xl font-bold tracking-tight">Tasks</h1>
  <div id="task_count" class="">
    <span class="flex items-center justify-center w-6 h-6 p-3 text-white bg-red-500 rounded-full"><%= tasks_count %></span>
  </div>
</div>
<ul>
  <% @tasks.each do |task| %>
    <li><%= render task %></li>
  <% end %>
</ul>
